
 Proyeto:  Proyecto de aplicaci√≥n practica Fianl 
 Obj:      El objetivo del proyecto es identificar a pacientes con potenciales problemas de salud
 author:   Yerko Alejandro Melgar Dellien

In [1]:
import pandas as pd
import numpy as np
import os

Realizamos la lectura de los datos

In [2]:
for dirname, _, filenames in os.walk('/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/Weight_Height.csv
/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/Oximetry.csv
/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/Glucose.csv
/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/bloodPressure.csv

In [3]:
# Load the data
Glucose_file_path = '/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/Glucose.csv'
BloodPressure_file_path = '/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/bloodPressure.csv'
Oximetry_file_path = '/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/Oximetry.csv'
Weight_Height_file_path = '/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/Weight_Height.csv'
# -------------------------------------------------------------------
glucose_date = pd.read_csv(Glucose_file_path)
BloodPressure_date = pd.read_csv(BloodPressure_file_path)
Oximetry_date = pd.read_csv(Oximetry_file_path)
Weight_Height_date = pd.read_csv(Weight_Height_file_path)

In [4]:
BloodPressure_date.describe()

            Patient      Systolic     Diastolic  AvBloodPressure     HeartRate
count  10167.000000  10167.000000  10167.000000     10167.000000  10167.000000
mean     720.164552    112.789122     73.379168       110.547556     80.003934
std      425.768799     17.958457     12.776531        21.089970     16.712636
min        1.000000      0.000000      0.000000         0.000000      0.000000
25%      420.000000     99.000000     63.000000        92.000000     67.000000
50%      730.000000    113.000000     74.000000       108.000000     80.000000
75%     1073.000000    127.000000     84.000000       129.000000     93.000000
max     1453.000000    187.000000    118.000000       149.000000    183.000000

In [8]:
Oximetry_date.describe()

           Patient         SpO2    HeartRate
count  9872.000000  9872.000000  9872.000000
mean    739.808043    81.937399    80.360616
std     416.432365    12.095177    17.587560
min       1.000000    44.000000    44.000000
25%     438.000000    71.000000    66.000000
50%     749.000000    83.000000    80.000000
75%    1082.000000    94.000000    94.000000
max    1453.000000   100.000000   217.000000

In [9]:
Weight_Height_date.describe()

            Patient        Weight        Height          IMC
count  10170.000000  10170.000000  10170.000000  10170.000000
mean     719.586627     81.167549      1.726155     27.834825
std      425.889730     22.310746      0.158504      9.019599
min        1.000000     -9.700000      1.450000     -4.200000
25%      418.250000     65.370000      1.600000     21.610000
50%      730.000000     80.000000      1.720000     26.910000
75%     1072.000000     98.850000      1.850000     33.410000
max     1453.000000    172.000000      6.520000     56.560000

In [10]:
glucose_date.describe()

            Patient       Glucose
count  10074.000000  10074.000000
mean     726.156641    105.629244
std      423.092712     29.136298
min        1.000000     51.000000
25%      426.000000     82.000000
50%      736.000000    102.000000
75%     1076.000000    127.000000
max     1453.000000    207.000000

# Limpieza de datos

In [ ]:
glucose_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10074 entries, 0 to 10073
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Patient  10074 non-null  int64
 1   Glucose  10074 non-null  int64
 2   Date     10074 non-null  object
dtypes: int64(2), object(1)
memory usage: 236.2+ KB

In [ ]:
glucose_date