
 Proyeto:  Proyecto de aplicaci√≥n practica Fianl 
 Obj:      El objetivo del proyecto es identificar a pacientes con potenciales problemas de salud
 author:   Yerko Alejandro Melgar Dellien

In [1]:
import pandas as pd
import numpy as np
import os

Realizamos la lectura de los datos

In [2]:
HomePath = '/home/DrAkNeT/Developer/MachineLearning'

In [3]:
for dirname, _, filenames in os.walk(HomePath + '/ProyectoFinalBSG/datos'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/Weight_Height.csv
/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/Oximetry.csv
/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/Glucose.csv
/home/DrAkNeT/Developer/MachineLearning/ProyectoFinalBSG/datos/bloodPressure.csv

In [4]:
# Load the data
Glucose_file_path = HomePath + '/ProyectoFinalBSG/datos/Glucose.csv'
BloodPressure_file_path = HomePath + '/ProyectoFinalBSG/datos/bloodPressure.csv'
Oximetry_file_path = HomePath + '/ProyectoFinalBSG/datos/Oximetry.csv'
Weight_Height_file_path = HomePath + '/ProyectoFinalBSG/datos/Weight_Height.csv'
# -------------------------------------------------------------------
glucose_date = pd.read_csv(Glucose_file_path)
BloodPressure_date = pd.read_csv(BloodPressure_file_path)
Oximetry_date = pd.read_csv(Oximetry_file_path)
Weight_Height_date = pd.read_csv(Weight_Height_file_path)

In [5]:
BloodPressure_date.head(20)

    Patient  Systolic  Diastolic  AvBloodPressure  HeartRate            Date
0      1369       113         93               93        109   1/1/2013 8:02
1      1410        91         87              110         99   1/1/2013 8:04
2      1156        91         58               92         93   1/1/2013 8:13
3       663       114         73              121         62   1/1/2013 8:15
4      1198       100         60               99         61   1/1/2013 8:38
5       740        96         59               92        106   1/1/2013 8:48
6       574       111         87              109         53   1/1/2013 8:51
7       787       132         56              133        101   1/1/2013 9:10
8       623       141         82               83         78   1/1/2013 9:12
9      1116       107         75               91         93   1/1/2013 9:17
10      956        84         55               90         56   1/1/2013 9:20
11      568        94         76              121        110   1/1/2013 9:38
12      522       116         63              109        109   1/1/2013 9:45
13     1416       121         51              131        100   1/1/2013 9:50
14      587       117         63               88         55  1/1/2013 10:41
15      515       144         74              147         82  1/1/2013 10:46
16      825        94         68              117         63  1/1/2013 10:58
17     1288       142         67               98         61  1/1/2013 11:21
18     1016        89         79               84         69  1/1/2013 11:42
19      415       132         70              113         80  1/1/2013 11:43

In [6]:
Oximetry_date.head(20)

    Patient  SpO2  HeartRate            Date
0      1369    96         73   1/1/2013 8:02
1      1410    73         61   1/1/2013 8:04
2      1156    85         57   1/1/2013 8:13
3       663    66         87   1/1/2013 8:15
4      1198    88         75   1/1/2013 8:38
5       740    86         62   1/1/2013 8:48
6       574    67         73   1/1/2013 8:51
7       787    63        103   1/1/2013 9:10
8       623    78        106   1/1/2013 9:12
9      1116    70         71   1/1/2013 9:17
10      956    82         65   1/1/2013 9:20
11      568    63         50   1/1/2013 9:38
12      522    63        102   1/1/2013 9:45
13     1416    87         78   1/1/2013 9:50
14      587    60        108  1/1/2013 10:41
15      515    86         61  1/1/2013 10:46
16      825    72         83  1/1/2013 10:58
17     1288    61         52  1/1/2013 11:21
18     1016    81        104  1/1/2013 11:42
19      415    88         83  1/1/2013 11:43

In [7]:
Oximetry_date.describe()

           Patient         SpO2    HeartRate
count  9872.000000  9872.000000  9872.000000
mean    739.808043    81.937399    80.360616
std     416.432365    12.095177    17.587560
min       1.000000    44.000000    44.000000
25%     438.000000    71.000000    66.000000
50%     749.000000    83.000000    80.000000
75%    1082.000000    94.000000    94.000000
max    1453.000000   100.000000   217.000000

In [8]:
Weight_Height_date.describe()

            Patient        Weight        Height          IMC
count  10170.000000  10170.000000  10170.000000  10170.000000
mean     719.586627     81.167549      1.726155     27.834825
std      425.889730     22.310746      0.158504      9.019599
min        1.000000     -9.700000      1.450000     -4.200000
25%      418.250000     65.370000      1.600000     21.610000
50%      730.000000     80.000000      1.720000     26.910000
75%     1072.000000     98.850000      1.850000     33.410000
max     1453.000000    172.000000      6.520000     56.560000

In [9]:
glucose_date.describe()

            Patient       Glucose
count  10074.000000  10074.000000
mean     726.156641    105.629244
std      423.092712     29.136298
min        1.000000     51.000000
25%      426.000000     82.000000
50%      736.000000    102.000000
75%     1076.000000    127.000000
max     1453.000000    207.000000

# Limpieza de datos

Como primer paso crearemos llaves unicas entre pasientes y la fecha y hora en la cual se realizaron los an√°lisis.

In [10]:
# Creamos una funci√≥n para calcular el has MD5  de un texto que usaremos conmo llave pivote. 
import hashlib

def calcular_has (texto):
    md5 = hashlib.md5()
    md5.update(texto.encode('utf-8'))
    return md5.hexdigest()

In [11]:
# Creamos nuestra llave de los campos Patient + Date para que los resultados de los an√°lisis de los pacienten coincidas en el mismo d√≠a que se realizaron.
df_blood_presure_with_key = BloodPressure_date.copy()
df_blood_presure_with_key["key"] = df_blood_presure_with_key["Date"].astype(str).str.strip() +"-"+ df_blood_presure_with_key["Patient"].astype(str)
df_blood_presure_with_key["key"] = df_blood_presure_with_key["key"].apply(calcular_has)

df_glucose_with_key = glucose_date.copy()
df_glucose_with_key["key"] = df_glucose_with_key["Date"].astype(str).str.strip() +'-'+ df_glucose_with_key["Patient"].astype(str)
df_glucose_with_key["key"] = df_glucose_with_key["key"].apply(calcular_has)

df_oximetry_with_key = Oximetry_date.copy()
df_oximetry_with_key["key"] = df_oximetry_with_key["Date"].astype(str).str.strip() +'-'+ df_oximetry_with_key["Patient"].astype(str)
df_oximetry_with_key["key"] = df_oximetry_with_key["key"].apply(calcular_has)

df_w_h_with_key = Weight_Height_date.copy()
df_w_h_with_key["key"] = df_w_h_with_key["Date"].astype(str).str.strip() +'-'+ df_w_h_with_key["Patient"].astype(str)
df_w_h_with_key["key"] = df_w_h_with_key["key"].apply(calcular_has)

In [12]:
df_blood_presure_with_key.head(5)

,Patient,Systolic,Diastolic,AvBloodPressure,HeartRate,Date,key
0,1369,113,93,93,109,1/1/2013 8:02,1bbd7a44f5a3c1ea3ec377db0421ce51
1,1410,91,87,110,99,1/1/2013 8:04,0e2d37a4af146950b8c1778d1408aa8b
2,1156,91,58,92,93,1/1/2013 8:13,b651da2b4a71e12874af11efc6825d63
3,663,114,73,121,62,1/1/2013 8:15,bd8ca4ec6145f27daf2c8c3952c1545d
4,1198,100,60,99,61,1/1/2013 8:38,1c88219978ee66aea46d8b6ddff7e737

In [13]:
df_glucose_with_key.head(5)

   Patient  Glucose           Date                               key
0     1369       61  1/1/2013 8:02  1bbd7a44f5a3c1ea3ec377db0421ce51
1     1410       82  1/1/2013 8:04  0e2d37a4af146950b8c1778d1408aa8b
2     1156       89  1/1/2013 8:13  b651da2b4a71e12874af11efc6825d63
3      663       68  1/1/2013 8:15  bd8ca4ec6145f27daf2c8c3952c1545d
4     1198      135  1/1/2013 8:38  1c88219978ee66aea46d8b6ddff7e737

In [14]:
df_oximetry_with_key.head(5)

   Patient  SpO2  HeartRate           Date                               key
0     1369    96         73  1/1/2013 8:02  1bbd7a44f5a3c1ea3ec377db0421ce51
1     1410    73         61  1/1/2013 8:04  0e2d37a4af146950b8c1778d1408aa8b
2     1156    85         57  1/1/2013 8:13  b651da2b4a71e12874af11efc6825d63
3      663    66         87  1/1/2013 8:15  bd8ca4ec6145f27daf2c8c3952c1545d
4     1198    88         75  1/1/2013 8:38  1c88219978ee66aea46d8b6ddff7e737

In [15]:
df_w_h_with_key.head(5)

,Patient,Weight,Height,IMC,Date,key
0,1369,94.89,1.59,37.53,1/1/2013 8:02,1bbd7a44f5a3c1ea3ec377db0421ce51
1,1410,64.56,1.67,23.15,1/1/2013 8:04,0e2d37a4af146950b8c1778d1408aa8b
2,1156,119.04,1.49,53.62,1/1/2013 8:13,b651da2b4a71e12874af11efc6825d63
3,663,61.56,1.86,17.79,1/1/2013 8:15,bd8ca4ec6145f27daf2c8c3952c1545d
4,1198,50.42,1.57,20.46,1/1/2013 8:38,1c88219978ee66aea46d8b6ddff7e737

In [16]:
#unificamos los diferentes an√°lisis en una solo tabla.

df_merged = df_blood_presure_with_key.merge(df_glucose_with_key, on='key', how='inner', suffixes=('_blood', '_glucose'))
df_merged = df_merged.merge(df_oximetry_with_key, on='key', how='inner', suffixes=('_merged', '_oximetry'))
df_merged = df_merged.merge(df_w_h_with_key, on='key', how='inner', suffixes=('_merged', '_w_h'))


df_merged.head(5)

,Patient_blood,Systolic,Diastolic,AvBloodPressure,HeartRate_merged,Date_blood,key,Patient_glucose,Glucose,Date_glucose,Patient_merged,SpO2,HeartRate_oximetry,Date_merged,Patient_w_h,Weight,Height,IMC,Date_w_h
0,1369,113,93,93,109,1/1/2013 8:02,1bbd7a44f5a3c1ea3ec377db0421ce51,1369,61,1/1/2013 8:02,1369,96,73,1/1/2013 8:02,1369,94.89,1.59,37.53,1/1/2013 8:02
1,1410,91,87,110,99,1/1/2013 8:04,0e2d37a4af146950b8c1778d1408aa8b,1410,82,1/1/2013 8:04,1410,73,61,1/1/2013 8:04,1410,64.56,1.67,23.15,1/1/2013 8:04
2,1156,91,58,92,93,1/1/2013 8:13,b651da2b4a71e12874af11efc6825d63,1156,89,1/1/2013 8:13,1156,85,57,1/1/2013 8:13,1156,119.04,1.49,53.62,1/1/2013 8:13
3,663,114,73,121,62,1/1/2013 8:15,bd8ca4ec6145f27daf2c8c3952c1545d,663,68,1/1/2013 8:15,663,66,87,1/1/2013 8:15,663,61.56,1.86,17.79,1/1/2013 8:15
4,1198,100,60,99,61,1/1/2013 8:38,1c88219978ee66aea46d8b6ddff7e737,1198,135,1/1/2013 8:38,1198,88,75,1/1/2013 8:38,1198,50.42,1.57,20.46,1/1/2013 8:38

In [27]:
df_merged[["HeartRate_merged","IMC"]].head(20)

KeyError: "['IMC'] not in index"

In [18]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8356 entries, 0 to 8355
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient_blood       8356 non-null   int64
 1   Systolic            8356 non-null   int64
 2   Diastolic           8356 non-null   int64
 3   AvBloodPressure     8356 non-null   int64
 4   HeartRate_merged    8356 non-null   int64
 5   Date_blood          8356 non-null   object
 6   key                 8356 non-null   object
 7   Patient_glucose     8356 non-null   int64
 8   Glucose             8356 non-null   int64
 9   Date_glucose        8356 non-null   object
 10  Patient_merged      8356 non-null   int64
 11  SpO2                8356 non-null   int64
 12  HeartRate_oximetry  8356 non-null   int64
 13  Date_merged         8356 non-null   object
 14  Patient_w_h         8356 non-null   int64
 15  Weight              8356 non-null   float64
 16  Height              8356 non-null   float64
 17  IMC                 8356 non-null   float64
 18  Date_w_h            8356 non-null   object
dtypes: float64(3), int64(11), object(5)
memory usage: 1.2+ MB

In [19]:
# Vamos a revisar si los datos el promedio de latidos son iguales.

validar_heartread = (df_merged['HeartRate_merged'] == df_merged['HeartRate_oximetry']).all()

In [20]:
if validar_heartread:
    print('son iguales.')
else:
    print("no son iguales.")

no son iguales.

In [21]:
# Revisemos si se tiene alguna diferencia considerable entre ambos datos
df_merged[["HeartRate_merged","HeartRate_oximetry"]].describe()

       HeartRate_merged  HeartRate_oximetry
count       8356.000000         8356.000000
mean          80.038416           79.599809
std           17.663294           17.687681
min           50.000000           50.000000
25%           65.000000           64.000000
50%           80.000000           79.000000
75%           95.250000           95.000000
max          110.000000          110.000000

### Se seleccionan las variables que se estar√°n conciderando como variables para el an√°lisis.
- Systolic
- Diastolic
- AvBloodPressure
- HeartRate_merged
- Glucose
- SpO2
- Weight
- Height
- IMC

In [28]:
#  columans seleccionadas

columnas_selecionadas = ['Systolic','Diastolic','AvBloodPressure','HeartRate_merged','Glucose','SpO2','Weight','Height']

df_analisis = df_merged.loc[:, columnas_selecionadas].copy()

In [29]:
df_analisis.describe()

,Systolic,Diastolic,AvBloodPressure,HeartRate_merged,Glucose,SpO2,Weight,Height
count,8356.000000,8356.000000,8356.000000,8356.000000,8356.000000,8356.000000,8356.000000,8356.000000
mean,112.513763,72.749402,114.673289,80.038416,104.781474,79.889421,82.778275,1.724411
std,19.004203,13.296433,20.390133,17.663294,26.213201,11.872643,21.759294,0.159981
min,80.000000,50.000000,80.000000,50.000000,60.000000,60.000000,43.070000,1.450000
25%,96.000000,61.000000,97.000000,65.000000,82.000000,70.000000,64.425000,1.590000
50%,113.000000,73.000000,115.000000,80.000000,105.000000,80.000000,83.560000,1.720000
75%,129.000000,84.000000,132.000000,95.250000,127.000000,90.000000,101.370000,1.860000
max,145.000000,95.000000,149.000000,110.000000,150.000000,100.000000,121.650000,2.000000